@media only screen and (max-width: 1750px) {
    body {
        background-color: #f9fafa;
        background-image: url('IMG/undraw_business_decisions_gjwy.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 30rem;
    }
    i{
        color: #5b5b5b;
        font-size: 1.4rem;
        text-align: center;
    }
    .octocat-img{
        width: 9rem;
        height: 9rem;
        position: relative;
        margin-left: 10%;
        background-color: #ffffff;
        border-radius: 50%;
        margin-top: 2rem;
    }
    .github-jobs {
        display: block;
        font-family: Poppins, sans-serif;
        font-size: 3.5rem;
        font-weight: 200;
        margin: 0.5rem 0;
        margin-top: 0;
        margin-left: 10%;
    }
    .github-jobs strong {
        font-weight: 600;
    }
    .header-conteiner {
        width: 80%;
        border-radius: 0.5rem;
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: 5rem 0;
        justify-content: flex-start;
        align-items: center;
        
    }
    .header-conteiner .input-conteiner {
        width: 100%;
        padding: 0.2rem;
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.10);
        border: 0.1rem solid #fffffff1;
    }
    .header-conteiner .input-conteiner i {
        display: inline-block;
        width: 5%;
    }
    .header-conteiner .input-conteiner input {
        border: none;
        font-size: 1.6rem;
        padding: 1rem;
        color: #373737;
        font-family: Roboto, sans-serif;
        width: 85%;
        height: 100%;
    }
    .header-conteiner .input-conteiner button {
        position: relative;
        display: inline-block;
        border: none;
        border-radius: 0.5rem;
        padding: 1rem 0;
        background-color: #1ea1fff1;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        width: 10%;
        transition: 0.5s;
        cursor: pointer;
    }
    .header-conteiner .input-conteiner button:hover{
        background-color: #0095ff;
    }
    .main-conteiner {
        position: relative;
        display: flex;
        width: 80%;
        margin: 2.5rem auto;
        justify-content: space-between;
    }
    .jobs-result {
        width: 70%;
        position: relative;
        display: block;
    }
    .jobs-result-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .job-result {
        display: flex;
        position: relative;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 90%;
        background-color: #fffffff6;
        justify-content: space-between;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.10);
        margin: 1.5rem 0;
        transition: 0.5s;
        cursor: pointer;
    }
    .job-result:first-child{
        margin-top: 0;
    }
    .job-result:hover{
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.139);
        background-color: #ffffff;
        margin-left: 0.5rem;
    }
    .job-result .company-logo {
        height: 9rem;
        width: 9rem;
        margin-right: 1rem;
        position: relative;
        object-fit: contain;
    }
    .job-result .job-brief-desc {
        width: 85%;
        border-radius: 0 0.5rem 0.5rem 0;
        position: relative;
    }
    .job-brief-desc .company-name {
        font-size: 1.4rem;
        font-family: Poppins, sans-serif;
        font-weight: 300;
        margin-bottom: 0.5rem;
        color: #001329;
    }
    .job-brief-desc .title {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        color: #1ea1ff;
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }
    .full-time-city-days {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        font-size: 1.4rem;
        font-family: Poppins, sans-serif;
        font-weight: 300;
        margin-top: 1rem;
    }
    .full-time-city-days .city-days {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .full-time-city-days .city-days i{
        margin: 0 1rem;
    }
    .no-job{
        font-size: 2rem;
        font-family: Roboto;
        font-weight: 300;
        text-align: center;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
    }
    .search-parameters {
        width: 25%;
        position: relative;
        display: block;
        background-color: #fffffff6;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.10);
        flex: initial;
        height: 250px;
    }
    .location {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        position: relative;
        height: auto;
    }
    .location h2 {
        font-family: Poppins, sans-serif;
        font-size: 1.5rem;
        color: #2b2b2b63;
    }
    .location .input-conteiner-location {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        background-color: #fff;
        border-radius: 0.5rem;
        border: 0.1rem solid #dddddd74;
        transition: 0.5s;
    }
    .location .input-conteiner-location i {
        display: block;
        width: 5%;
        margin-left: 1rem;
    }
    .location .input-conteiner-location input {
        display: block;
        width: 85%;
        border: none;
        padding: 1rem 0.5rem;
        color: #373737;
    }
    .location .possible-cities-to-search {
        display: flex;
        flex-direction: column;
    }
    .p-full-time{
        display: flex;
        width: 100%;
        margin: 0.5rem 0;
        align-items: center;
    }
    .p-full-time span{
        font-size: 1.5rem;
        font-family: Roboto, sans-serif;
        display: block;
    }
    .p-full-time input {
        border: none;
        display: block;
        margin-right: 1rem;
        height: 1.6rem;
    }
    .location .possible-cities-to-search p {
        display: flex;
        width: 100%;
        margin: 0.5rem 0;
        align-items: center;
    }
    .location .possible-cities-to-search p span {
        font-size: 1.5rem;
        font-family: Roboto, sans-serif;
        display: block;
        text-transform: capitalize;
    }
    .location .possible-cities-to-search p input{
        border: none;
        display: block;
        margin-right: 1rem;
        height: 1.6rem;
    }
    .pages{
        position: relative;
        display: block;
        margin-top: 1rem;
        width: 90%;
        overflow-x: auto;
    }
    .pages .pages-list{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    .pages-list li{
        margin: 0 1rem;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        background-color: #fff;
        border: 0.1rem solid #0095ff;
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        text-align: center;
        color: #0095ff;
        cursor: pointer;
        transition: 0.5s;
    }
    .active{
        background-color: #0095ff !important;
        color: #fff !important;
    }
    .pages-list li:hover{
        background-color: #0095ff;
        color: #fff;
    }
}
@media only screen and (max-width: 750px){
    .header-conteiner{
        padding: 1rem 0;
        width: 90%;
    }
    .header-conteiner .input-conteiner input{
        width: 70%;
    }
    .header-conteiner .input-conteiner button{
        width: 20%;
    }
    .main-conteiner{
        width: 90%;
        flex-wrap: wrap;
    }
    .jobs-result{
        order: 1;
        width: 100%;
        justify-content: center;
    }
    .job-result{
        width: 96%;
    }
    .search-parameters{
        width: 100%;
        order: 0;
        height: auto;
        margin-bottom: 2rem;
    }
    .location .possible-cities-to-search{
        flex-direction: row;
        justify-content: center;
    }
    .location .possible-cities-to-search p{
        display: inline-block;
        margin: 0 0.5rem;
        text-align: center;
    }
    .location .possible-cities-to-search p span{
        display: inline-block;
        width: 100%;
    }
    .location .possible-cities-to-search p input{
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    .octocat-img{
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .github-jobs{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .job-result{
        flex-direction: column;
        align-items: center;
    }
    .job-result .job-brief-desc{
        width: 100%;
    }
    .full-time-city-days{
        flex-wrap: wrap;
    }
    .full-time-city-days .city-days i:first-child{
        margin-left: 0;
    }
    .pages-list li {
        margin: 0 0.5rem;
        padding: 0.5rem;
        border-radius: 3.5rem;
    }
}