<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins;500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto;500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="CSS/footer.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/5c7edfd842.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="CSS/universal.css">
  <link rel="stylesheet" href="index.css">
  <title>Github Jobs - The easy way to reach your job</title>
</head>

<body>
  <img src="IMG/octocat.png" class="octocat-img" alt="">
  <h1 class="github-jobs"><strong>Github</strong> Jobs</h1>
  <div id="main-app">

    <header-component @new-description="newDescription" @search-for-jobs="searchForJobs"></header-component>

    <div class="main-conteiner">
      <div class="jobs-result">
        <ul v-if="avaibleJobs.length" class="jobs-result-list">
          <job-component v-for="job in jobs" :job="job" @view-more="viewMore"></job-component>
        </ul>
        <p v-else class="no-job">No Jobs Found! We feel sorry about that</p>

        <div class="pages">
          <ul class="pages-list">
            <li v-for="(number, index) in numbersOfPages" :class="{active: index == 0 ? true : false}" @click="selectPage(index)">{{ number }}</li>
          </ul>
        </div>
    
      </div>

      <search-parameters :citiestosearch="citiesToSearch" @search-city="newCityToSearch" @is-full-time-checked="fullTimeSet"></search-parameters>
      
    </div>
  </div>
  <footer>
    <h3>Eufránio Diogo @ DevChallenges</h3>
  </footer>
  <script src="JS/index.js"></script>
</body>

</html>